<div class="relative isolate overflow-hidden py-24 sm:py-32">
    <div class="mx-auto max-w-2xl x-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0 text-center">
        <h2 class="text-3xl font-bold tracking-tight sm:text-3xl">La primera impresión lo es todo, nos aseguramos de que tu sitio web cause un impacto duradero.</h2>
      </div>
    </div>
  </div>