<div class="relative isolate overflow-hidden py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="text-center">
            <h4 class="text-3xl font-semibold">Servicios</h4>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none p-8 rounded-md px-12 outline outline-1 outline-zin-800">
                <h2 class="text-xl font-bold tracking-tight sm:text-3xl">Desarrollo Web</h2>
                <div class="">
                    <div class="max-w-xl">
                        <p class="mt-6 text-lg leading-8">Creamos sitios web únicos que reflejan la identidad de tu marca y cautivan a tus visitantes.</p>
                    </div>
                    <div class="max-w-xl pt-14">
                        <button class="-mx-1.5 -my-1 flex items-center gap-3 rounded-lg px-1.5 py-1 px-2 text-[0.8125rem] font-semibold leading-6 text-slate-900 transition hover:bg-[#1E1E1E] hover:text-white"> 
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-[#28A479]">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
                              </svg>
                            Saber más 
                        </button>
                    </div>
                </div>
              
            </div>
            <div class="bg-[#1E1E1E] text-white mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none p-8 px-12 rounded-md">
                <h2 class="text-xl font-bold tracking-tight sm:text-3xl">Networking Configuration</h2>
                <div class="">
                    <div class="max-w-xl">
                        <p class="mt-6 text-lg leading-8">Diseñamos redes que crecen junto con tu negocio, adaptándose a tus necesidades cambiantes.</p>
                    </div>
                    <div class="max-w-xl pt-14">
                        <button class="-mx-1.5 -my-1 flex items-center gap-3 rounded-lg px-1.5 py-1 px-2 text-[0.8125rem] font-semibold leading-6 text-white transition hover:outline outline-1 "> 
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-[#28A479]">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
                              </svg>
                            Saber más 
                        </button>
                    </div>

                </div>
            </div>
        </div>
    
    
    </div>
</div>