<div class="relative isolate overflow-hidden py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 bg-zinc-200 rounded-lg" >
        <div class="grid grid-cols-2 gap-4">
            <div class="mx-auto m-10 max-w-2xl lg:mx-0 lg:max-w-none p-8">
                <h2 class="text-xl font-bold tracking-tight sm:text-6xl">¿Por qué Gibit?</h2>
                <div class="">
                    <div class="max-w-xl">
                        <p class="mt-6 text-lg leading-8">La experiencia, la rápida implementación y la calidad de los servicios/soluciones son algunas de las razones para confiar en nosotros como su socio de telecomunicaciones.</p>
                    </div>
                    <div class="pt-10">
                        <a href="#" class="rounded-md bg-zinc-900 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Empecemos un proyecto juntos</a>
                    </div>
                </div>
              
            </div>
            <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none p-8 px-12 rounded-md">
                <h2 class="text-xl font-bold tracking-tight sm:text-3xl">Experiencia y Expertise </h2>
                <div class="">
                    <div class="max-w-xl">
                        <p class="mt-6 text-lg leading-8">Contamos con un equipo de profesionales altamente calificados con años de experiencia en desarrollo web y configuración de equipos de networking. 
                            Nuestro conocimiento profundo y nuestras habilidades técnicas nos permiten ofrecer soluciones excepcionales y personalizadas para cada cliente.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    
    
    </div>
</div>