---
interface Props {
	title: string;
}

import Hero from '../components/Hero.astro';
import Phrase_Main from '../components/sections/Phrase_Main.astro';
import About_us from '../components/sections/About_us.astro';
import Services from '../components/sections/Services.astro';
import Why_us from '../components/sections/Why_us.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Hero />
		<Phrase_Main />
		<About_us />
		<Services />
		<Why_us />
		<div id="app" class="relative h-screen p-2 gap-2">
			
		</div>
		<slot />
	</body>
</html>

<style is:global>
	
	html {
		font-family: "Satoshi", system-ui, sans-serif;
		color: #1E1E1E;
	}
	
	@font-face {
		font-family: 'Satoshi';
		src: url('/public/fonts/Satoshi-Light.woff2') format('woff');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Satoshi';
		src: url('/public/fonts/Satoshi-Regular.woff2') format('woff');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Satoshi';
		src: url('/public/fonts/Satoshi-Medium.woff2') format('woff');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Satoshi';
		src: url('/public/fonts/Satoshi-Bold.woff2') format('woff');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Satoshi';
		src: url('/public/fonts/Satoshi-Black.woff2') format('woff2');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

</style>
